aiorwlock==1.1.0
appdirs>=1.4.4
appdirs-stubs>=0.1.0
async-generator>=1.10
cryptography>=3.4.0
httpcore>=0.17.3
httpx[http2]==0.24.0
pydantic[dotenv]>=1.8.2,<2.0
python-dateutil>=2.8.2
readerwriterlock>=1.0.9
sqlparse>=0.4.2
tricycle>=0.2.2
trio>=0.22.0
