name: Pull request

on:
  pull_request:
    branches: [ main ]

jobs:
  check-title:
    uses: jef/conventional-commits-pr-action@v1.0.0
    with:
      token: ${{ secrets.GITHUB_TOKEN }}
  code-checkers:
    uses: firebolt-db/firebolt-sdk/.github/workflows/code-check.yml@main
  unit-tests:
    uses: firebolt-db/firebolt-sdk/.github/workflows/unit-tests.yml@main
